<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>auction.entity.TradePool</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>460</entity-X-Coordinate>
		<entity-Y-Coordinate>310</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>20</entity-X-Coordinate>
		<entity-Y-Coordinate>335</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>195</entity-X-Coordinate>
		<entity-Y-Coordinate>220</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.Image</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>840</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.Item</entity-name>
		<entity-width>120</entity-width>
		<entity-height>683</entity-height>
		<entity-X-Coordinate>650</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>true</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.UserItemDetail</entity-name>
		<entity-width>120</entity-width>
		<entity-height>246</entity-height>
		<entity-X-Coordinate>357</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>auction.entity.UserDetail</entity-name>
		<entity-width>120</entity-width>
		<entity-height>248</entity-height>
		<entity-X-Coordinate>20</entity-X-Coordinate>
		<entity-Y-Coordinate>20</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>